.PortfolioRowContainer{
    background-color: #C4C4C4;
    display: grid;
    grid-template-columns: repeat(10, 1fr) 3%;
}

.item{
    border-top: 1px solid #C4C4C4;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.even .item{
    background-color: #F7F8F9;
}
.odd .item{
    background-color: #FFFFFF;
}

.even #head{
    background-color: #20262bd0;
    color: white;
    
    
}
.odd #head{
    background-color: #20262be3;
    color: white;

    
}
.green{
    color: #0A7B44;
}

.red{
    color: #D46157;
}