.WatchlistRowContainer{
    background-color: #C4C4C4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.item{
    border-top: 1px solid #C4C4C4;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.WatchlistRowContainer .even .item{
    background-color: red;
}
.WatchlistRowContainer .odd .item{
    background-color: #FFFFFF;
}