.WatchlistHeader{
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr) 5%;

}

.WatchlistHeader .item{
    border-top: 1px solid #C4C4C4;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20262B;
}


.WatchlistBody{
    overflow-y: auto;
    background-color: #C4C4C4;
    text-align: center;
    
}

