.Header{
    color: white;
    display: grid;
    grid-template-columns: 20% repeat(8, 1fr);
    
}

.Header .item{
    border-top: 1px solid #C4C4C4;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20262B;
}




.body{
    overflow-y: auto;
    height: 80%;
    background-color: #C4C4C4;
    text-align: center;
    
}

.PortfolioContainer{
   height: 100%;
}