.Home{
  background-color: var(--secondaryColor);
  height: 100%;
  width: 100%;
}

.Sidebar{
  height: 100%;
  width: 15%;
  float: left;
}

.Topbar{
  background-color: var(--primaryColor);
  height: 7%;
}

.Main{
  height: 93%;
  width: 85%;
  float: left;
  overflow-y: auto;
}

.Watchlist{
  width: 32.5%;
}
