.loginContainer{
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 20%, #28313b 60%);
	width: 100%;
	height: 100%;
}


.loginContainer .box{
	background: white;
	width: 30%;
}


.loginContainer .button{
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 70%);
	height: 100%;
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
	transition: background linear 0.2s;
}

.loginContainer .button:hover{
	background-image: linear-gradient(315deg, #485461 0%, #28313b 40%);
}

.loginContainer .button:focus{
	
	box-shadow: inset 0 0 10px #000000;
	background:#171c22;
}

.loginContainer .logo{
    width: 10%;
	margin-top: -15%;
	user-select: none;
}