.Sidebar{
  height: 100%;
  width: 20%;
  float: left;
}
.Main{
  height: 100%;
  width: 80%;
  float: left;
}

.Topbar{
  background-color: #20262B;
  height:4%;
}

.Portfolio{
  background-color: #C4C4C4;
  margin: 3%;
  width: 94%;
  height: 50%;
}


.Data{
  background-color: #C4C4C4;
  margin: 3%;
  margin-top: 0px;
  margin-right: 1.5%;
  width: 60%;
  height: 32%;
  float: left;
}

.Watchlist{
  background-color: #C4C4C4;
  margin: 3%;
  margin-top: 0px;
  margin-left: 1.5%;
  width: 31%;
  height: 32%;
  float: right;
}

.App{
  background-color: #E5E5E5;
}