.Sidebar{
  height: 100%;
  width: 18%;
  float: left;
}
.Main{
  height: 100%;
  width: 82%;
  float: left;
  
}

.Topbar{
  background-color: #20262B;
  height: 4%;
}

.App{
  background-color: #E5E5E5;
}

#Dashboard{
  height: 95%;
}