



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




html,body,#root,.App{
  /* Fullscreen */
  height: 100%;
  width: 100%;

  /* Color Palette */
--primaryColor: #20262B;
--secondaryColor: #E5E5E5;
--darkGray: #31363B;
--mediumGray: #3E4347;
--lightGray: #F7F8F9;



}

@tailwind base;
@tailwind components;
@tailwind utilities;